body {
  font-family: 'regular'; }

#about-us {
  color: #676c82; }
  #about-us .h-title {
    margin-top: 330px; }
  @media (max-width: 640px) {
    #about-us .h-title {
      margin-top: 10px; } }
  #about-us .h-title-2 {
    margin-top: 9px; }
  #about-us .h-paragraph {
    margin-top: 7px;
    padding-right: 25%; }
  #about-us button {
    width: 114px;
    height: 33px;
    border-radius: 25px;
    background-color: #1f80f5;
    border: none;
    outline: 0 !important;
    color: white; }
  #about-us .computer-img {
    margin-top: 174px; }
  #about-us .computer-img {
    animation: animationFrames linear 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 4s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 4s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 4s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%; }

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px); }
  49% {
    transform: translate(0px, -15px); }
  100% {
    transform: translate(0px, 0px); } }

@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px); }
  49% {
    -moz-transform: translate(0px, -15px); }
  100% {
    -moz-transform: translate(0px, 0px); } }

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px); }
  49% {
    -webkit-transform: translate(0px, -15px); }
  100% {
    -webkit-transform: translate(0px, 0px); } }

@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px); }
  49% {
    -o-transform: translate(0px, -15px); }
  100% {
    -o-transform: translate(0px, 0px); } }

@-ms-keyframes animationFrames {
  #about-us 0% {
    -ms-transform: translate(0px, 0px); }
  #about-us 49% {
    -ms-transform: translate(0px, -15px); }
  #about-us 100% {
    -ms-transform: translate(0px, 0px); } }

.greenLine {
  position: absolute;
  width: 1050px;
  height: 850px; }

.pinkLine {
  position: absolute;
  margin-left: -500px;
  margin-top: 480px;
  width: 1080px; }

@media (max-width: 640px) {
  .computer-img {
    margin-top: 10px !important; }
  .greenLine {
    width: 100%;
    height: auto; }
  .pinkLine {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    height: auto; } }

#aboutInfo {
  color: #616784;
  margin-top: 200px;
  width: 79%;
  height: 450px;
  -webkit-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 100px; }
  #aboutInfo .info-title {
    margin-top: 20px;
    font-size: 20pt;
    margin-bottom: 30px; }
  #aboutInfo p {
    font-family: 'ultraLight'; }

@media (max-width: 640px) {
  #aboutInfo {
    margin-top: 60px;
    padding: 0px;
    width: 100%;
    height: auto;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.4); } }

footer {
  margin-top: 100px; }
