* {
  z-index: 1000 !important; }

body {
  overflow-x: hidden;
  font-family: 'regular'; }

header .yellowLine {
  position: absolute;
  margin-top: 50px;
  width: 1550px;
  transform: rotate(18deg);
  margin-left: -300px; }

header .header-img {
  position: relative;
  z-index: 2000 !important;
  margin-top: 30px; }

@media (max-width: 640px) {
  header {
    margin-top: 50px; }
  .yellowLine {
    margin-left: -100px !important;
    margin-top: 200px !important;
    width: 100% !important; }
  .header-img {
    width: 100%; } }

#about {
  color: #616784; }
  #about .about-logo {
    margin-left: -20px; }
  #about .about-title {
    margin-top: 30px;
    font-weight: bold; }
  #about .about-paragraph {
    margin-top: 20px;
    font-family: 'ultraLight'; }
  @media only screen and (max-width: 600px) {
    #about .about-logo {
      margin-top: 100px; } }

#extraInfo {
  color: #616784; }
  #extraInfo .extraInfo-img {
    position: absolute;
    left: -100px; }
  #extraInfo .extraInfo-title {
    font-weight: bold;
    margin-top: 330px; }
  #extraInfo .extraInfo-p {
    font-family: 'ultraLight';
    margin-top: 40px; }
  @media only screen and (max-width: 600px) {
    #extraInfo .extraInfo-img {
      position: relative;
      width: 100%;
      left: -10%; }
    #extraInfo .extraInfo-title {
      margin-top: 20px; } }

#slider {
  margin-top: 300px; }
  #slider img {
    width: 100%; }
  #slider .slider-container {
    width: 100%; }
  #slider .slick-arrow {
    display: none !important; }

.slick-dots {
  text-align: center; }
  .slick-dots li {
    display: inline; }
  .slick-dots button {
    background: #616784;
    width: 5px;
    height: 11px;
    border-radius: 50%;
    margin: 7px;
    opacity: 0.50; }

.slick-active button {
  background: #616784;
  width: 5px;
  height: 11px;
  border-radius: 50%;
  margin: 7px;
  opacity: 1; }

@media only screen and (max-width: 600px) {
  #slider {
    margin-top: 40px; } }

@media (max-width: 640px) {
  .slick-dots {
    margin-bottom: 100px; } }

.slick-slide {
  outline: 0; }

.slick-dots li button {
  font-size: 0; }

#downloadSection {
  display: none;
  margin-top: 120px;
  color: #616784; }
  #downloadSection h4 {
    font-weight: bold; }
  #downloadSection p {
    margin-top: 20px;
    padding: 0 23% 0 23%; }
  #downloadSection .download {
    text-align: center; }
  #downloadSection .downloadButton {
    margin-top: 46px;
    text-align: left;
    width: 230px;
    height: 60px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: #616784;
    background-color: white;
    -webkit-box-shadow: 0px 6px 13px 3px #F7C8BF;
    box-shadow: 0px 6px 13px 3px #F7C8BF;
    opacity: 0.70;
    margin-right: 30px;
    font-family: 'ultraLight';
    transition: opacity 0.50s; }
    #downloadSection .downloadButton img {
      float: left;
      margin-right: 10px; }
    #downloadSection .downloadButton .googlePlayLogo {
      width: 34px;
      height: 37px;
      margin-top: 5px; }
    #downloadSection .downloadButton .appleLogo {
      width: 41px;
      height: 41px; }
    #downloadSection .downloadButton .smallDownloadText {
      font-size: 10pt; }
    #downloadSection .downloadButton .biggerDownloadText {
      display: block;
      font-size: 16pt;
      margin-top: -10px; }
  #downloadSection .downloadButton:hover {
    opacity: 1; }

@media only screen and (max-width: 600px) {
  #downloadSection {
    margin-top: 10px; }
    #downloadSection p {
      padding: 0px; }
    #downloadSection .downloadButton {
      margin-top: 25px; } }

footer {
  margin-top: 100px; }
