@font-face {
  font-family: regular;
  src: url(../fonts/Montserrat-Regular.otf); }

@font-face {
  font-family: ultraLight;
  src: url(../fonts/Montserrat-UltraLight.otf); }

body {
  font-family: 'regular' !important; }

.ultraLight {
  font-family: 'ultraLight' !important; }

.ultraLightBold {
  font-family: 'ultraLight' !important;
  font-weight: bold; }
