.pc-view {
  display: initial; }

.mobile-view {
  display: none; }

@media (max-width: 640px) {
  .pc-view {
    display: none !important; }
  .mobile-view {
    display: inherit !important; } }

* {
  z-index: 1000 !important; }

header {
  margin-top: 230px; }
  header .yellowLine {
    margin-left: -650px;
    margin-top: -150px;
    width: 1250px; }

@media (max-width: 640px) {
  header {
    margin-top: 50px; }
  .yellowLine {
    margin-left: 0px !important;
    margin-top: 0px !important;
    width: 100% !important; } }

.gameLogo {
  animation: animationFrames linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%; }

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px); }
  23% {
    transform: translate(0px, -8px); }
  50% {
    transform: translate(0px, -11px); }
  100% {
    transform: translate(0px, 0px); } }

@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px); }
  23% {
    -moz-transform: translate(0px, -8px); }
  50% {
    -moz-transform: translate(0px, -11px); }
  100% {
    -moz-transform: translate(0px, 0px); } }

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px); }
  23% {
    -webkit-transform: translate(0px, -8px); }
  50% {
    -webkit-transform: translate(0px, -11px); }
  100% {
    -webkit-transform: translate(0px, 0px); } }

@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px); }
  23% {
    -o-transform: translate(0px, -8px); }
  50% {
    -o-transform: translate(0px, -11px); }
  100% {
    -o-transform: translate(0px, 0px); } }

@-ms-keyframes animationFrames {
  0% {
    -ms-transform: translate(0px, 0px); }
  23% {
    -ms-transform: translate(0px, -8px); }
  50% {
    -ms-transform: translate(0px, -11px); }
  100% {
    -ms-transform: translate(0px, 0px); } }

@media (max-width: 640px) {
  .gameLogo {
    width: 48%; } }

.current-status img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.current-status img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

.current-status .current-container {
  margin-top: 140px;
  margin-bottom: 91px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .current-status .current-container .highlighted {
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%) !important; }
  .current-status .current-container .computerLogo {
    width: 120px;
    height: 100;
    margin-right: 100px;
    transition: transform 1s; }
  .current-status .current-container .d3Logo {
    width: 80px;
    height: 97px;
    margin-right: 100px; }
  .current-status .current-container .mobileLogo {
    width: 97px;
    height: 100px;
    margin-right: 100px; }
  .current-status .current-container .webLogo {
    width: 71px;
    height: 100px; }

@media (max-width: 640px) {
  .current-status .mobile-view {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px; }
    .current-status .mobile-view .highlighted {
      -webkit-filter: grayscale(0%) !important;
      filter: grayscale(0%) !important; }
    .current-status .mobile-view img {
      margin-top: 30px;
      width: 25%;
      height: auto;
      margin-right: 2%; }
    .current-status .mobile-view .d3Logo {
      width: 20%; }
    .current-status .mobile-view .mobileLogo {
      width: 24%; }
    .current-status .mobile-view .webLogo {
      width: 18%; } }

.loadmore a {
  display: block;
  width: 114px;
  height: 33px;
  border-radius: 25px;
  background-color: #1f80f5;
  border: none;
  outline: 0 !important;
  color: white;
  text-align: center;
  padding-top: 5px;
  text-decoration: none;
  transition: width 0.2s,height 0.2s,display 1s;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px; }

.loadmore a:hover {
  width: 120px;
  height: 35px; }

@media (max-width: 640px) {
  .gellery img {
    width: 100%; } }

.gameFooter {
  background: #f9e9c0; }

.mobileFooter {
  background: #dcf6f5; }

.artFooter {
  background: #f8f5b6; }

.webFooter {
  background: #ffd7f7; }
