* {
  z-index: 1000 !important; }

body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

@media (max-width: 640px) {
  body {
    background-size: auto; 
    background-image: none;
    background-color: #f6f9fe;
  } 

}

button {
  width: 114px;
  height: 33px;
  border-radius: 25px;
  background-color: #1f80f5;
  border: none;
  outline: 0 !important;
  color: white;
  transition: width 0.2s,height 0.2s;
  font-size: 16pt;
  font-family: 'ultraLight'; }

button:hover {
  width: 120px;
  height: 35px; }

nav {
  z-index: 4000 !important; }

.nav-item {
  width: 133px;
  height: 40px;
  border: solid #c2c9e1 1px;
  text-align: center;
  border-radius: 25px;
  transition: background-color 0.5s ease,color 0.5s; }
  .nav-item a {
    color: #868992; }

.nav-link {
  padding-bottom: 0;
  text-decoration: none;
  position: relative;
  display: inline-block; }

.nav-link::after {
  content: '';
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  background: rgba(134, 137, 146, 0.5);
  transform: scaleX(0);
  transition: transform .35s ease; }

.nav-item:hover {
  background-color: rgba(134, 137, 146, 0.001);
  transition: background-color 0.5s ease-out;
  border: solid 1px rgba(134, 137, 146, 0.25); }
  .nav-item:hover a::after {
    transform: scaleX(0.8); }

.nav-item {
  margin-right: 11px; }

.navbar-brand {
  margin-right: 414px; }

.custom-navbar {
  padding-top: 23px; }

@media (max-width: 640px) {
  .navbar-toggler {
    outline: 0 !important; }
  .nav-item {
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .menuIcon {
    margin-top: 6%;
    cursor: pointer;
    float: right;
    position: absolute;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12; }
  /* Icon Bars */
  .icon-bars {
    background: #0d1a26;
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
  .icon-bars::before {
    background: #0d1a26;
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
    /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s; }
  .icon-bars::after {
    margin-top: 0px;
    background: #0d1a26;
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
    /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s; }
  /* Bars Shadows */
  .icon-bars.overlay {
    background: #617281;
    background: #b7c7d3;
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s; }
  @keyframes middleBar {
    0% {
      width: 0px; }
    50% {
      width: 20px; }
    100% {
      width: 0px; } }
  @-webkit-keyframes middleBar {
    0% {
      width: 0px; }
    50% {
      width: 20px; }
    100% {
      width: 0px; } }
  .icon-bars.overlay::before {
    background: #617281;
    background: #b7c7d3;
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s; }
  @keyframes topBar {
    0% {
      width: 0px; }
    50% {
      width: 10px; }
    100% {
      width: 0px; } }
  @-webkit-keyframes topBar {
    0% {
      width: 0px; }
    50% {
      width: 10px; }
    100% {
      width: 0px; } }
  .icon-bars.overlay::after {
    background: #617281;
    background: #b7c7d3;
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s; }
  @keyframes bottomBar {
    0% {
      width: 0px; }
    50% {
      width: 15px; }
    100% {
      width: 0px; } }
  @-webkit-keyframes bottomBar {
    0% {
      width: 0px; }
    50% {
      width: 15px; }
    100% {
      width: 0px; } }
  /* Toggle Menu Icon */
  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0; }
  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s; } }

.navbar-dark .navbar-toggler {
  border: none;
  outline: 0; }

header {
  color: #676c82; }
  header .h-title {
    margin-top: 330px; }
  @media (max-width: 640px) {
    header .h-title {
      margin-top: 10px; } }
  header .h-title-2 {
    margin-top: 9px; }
  header .h-paragraph {
    margin-top: 7px;
    padding-right: 25%; }
  header button {
    width: 114px;
    height: 33px;
    border-radius: 25px;
    background-color: #1f80f5;
    border: none;
    outline: 0 !important;
    color: white; }
  header .computer-img {
    margin-top: 174px; }
  header .computer-img {
    animation: animationFrames linear 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 4s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 4s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 4s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%; }

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px); }
  49% {
    transform: translate(0px, -15px); }
  100% {
    transform: translate(0px, 0px); } }

@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px); }
  49% {
    -moz-transform: translate(0px, -15px); }
  100% {
    -moz-transform: translate(0px, 0px); } }

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px); }
  49% {
    -webkit-transform: translate(0px, -15px); }
  100% {
    -webkit-transform: translate(0px, 0px); } }

@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px); }
  49% {
    -o-transform: translate(0px, -15px); }
  100% {
    -o-transform: translate(0px, 0px); } }

@-ms-keyframes animationFrames {
  header 0% {
    -ms-transform: translate(0px, 0px); }
  header 49% {
    -ms-transform: translate(0px, -15px); }
  header 100% {
    -ms-transform: translate(0px, 0px); } }

.greenLine {
  position: absolute;
  width: 1050px;
  height: 986px; }

.pinkLine {
  position: absolute;
  margin-left: -500px;
  margin-top: 480px;
  width: 1080px; }

@media (max-width: 640px) {
  .custom-order {
    order: 2; }
  .computer-img {
    margin-top: 10px !important;
    margin-bottom: 40px; }
  .greenLine {
    width: 100%;
    height: auto; }
  .pinkLine {
    margin-left: 0px;
    margin-top: 685px;
    width: 100%;
    height: auto;
    }
  .h-paragraph {
    margin-top: 20px !important;
    margin-bottom: 20px !important; } }

#section2 .section2-box {
  margin-top: 180px;
  width: 79%;
  height: 777px;
  -webkit-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.54);
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.40s ease-in;
  background-color: white; }

#section2 .section2-img {
  margin-top: 151px; }

#section2 .section2-title {
  margin-top: 222px;
  color: #5d767d; }

#section2 .section2-title2 {
  margin-top: 5px;
  color: #636a84; }

#section2 .section2-p {
  margin-top: 20px;
  color: #64617c; }

@media (max-width: 640px) {
  .section2-box {
    margin-top: 35px !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
    height: 100% !important; }
  .section2-img {
    margin-top: 0px !important; }
  .section2-title {
    margin-top: 20px !important; }
  .section2-p {
    margin-top: 20px !important; }
  .section2-box {
    height: 100%;
    width: 97% !important; } }

.divider {
  margin-top: 133px;
  width: 100%;
  height: 90px;
  padding-top: 27px;
  color: #596185; }
  .divider h2 {
    font-family: 'ultraLight';
    font-weight: bold;
    font-size: 30pt; }

#what-we-do {
  padding: 9.9% 9.9% 0 9.9%; }

.service {
  background-color: white;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 300px;
  width: 100%;
  border-radius: 25px;
  -webkit-box-shadow: -2px 2px 14px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px 2px 14px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 2px 14px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-top: 38px; }
  .service button {
    width: 160px;
    height: 40px; }
  .service img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px; }
  .service h4 {
    color: #616784;
    margin-bottom: 20px; }
  .service .game-icon {
    margin-bottom: 30px; }
  .service .mobile-icon {
    margin-bottom: 15px; }
  .service .web-icon {
    margin-bottom: 23px; }
  .service .threedicon {
    margin-bottom: 25px; }
  .service span {
    display: block;
    font-family: 'ultraLight';
    font-size: 11pt; }

@media (max-width: 640px) {
  .service {
    margin-top: 20px; }
    .service .game-icon {
      width: 70%; }
    .service .mobile-icon {
      width: 60%; }
    .service .web-icon {
      width: 45%; }
    .service .threedicon {
      width: 50%; } }

#social {
  padding: 10px 0;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: default;
  text-align: center; }
  #social a {
    display: inline-flex;
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.2s ease; }

.socialLight {
  margin-top: -6px;
  padding-top: 30px;
  background: #f8e9be; }
  .socialLight #social:hover a {
    color: #aaa; }
  .socialLight #social a {
    color: #444; }
    .socialLight #social a:hover {
      color: #444; }

.gellery {
  margin-bottom: 100px; }
  .gellery img {
    margin-right: 20px;
    width: 340px;
    height: auto;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    border: solid white 2px;
    transition: transform 1s; }
  .gellery img::before {
    background: cyan;
    width: 357px; }

.hovereffect {
  margin-left: 10px;
  width: 340px;
  height: auto;
  position: relative;
  transform: translate3d(0, 0px, 0);
  transition: transform 0.4s,box-shadow 0.50s; }
  .hovereffect img {
    transition: opacity 0.50s; }
  .hovereffect .overlay {
    background: rgba(0, 0, 0, 0.6);
    width: 340px;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 170px;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.4s,opacity 0.50s;
    transform: translate3d(0, 65px, 0); }
  .hovereffect h2 {
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    color: white;
    font-family: 'ultraLight';
    font-weight: bold;
    font-size: 14pt;
    padding: 0 40px 0 40px;
    transition: opacity 0.50s; }

.hovereffect:hover {
  cursor: pointer;
  transform: translate3d(0, 5px, 0);
  box-shadow: 0px 7px 14px -1px rgba(0, 0, 0, 0.2); }

.hovereffect:hover .overlay {
  transform: translate3d(0, 3px, 0);
  visibility: visible;
  opacity: 1; }

.hovereffect:hover img {
  opacity: 1;
  position: relative; }

.hovereffect:hover h2 {
  z-index: 2500 !important; }

@media (max-width: 640px) {
  .hovereffect {
    margin-right: auto; }
    .hovereffect .overlay {
      width:100% !important;
      opacity: 0.80;
      height: 50px;
      top: 190px;
      padding-top: 5px;
      background: rgba(0, 0, 0, 0.6);
      transform: translate3d(0, -8px, 0);
      visibility: visible; }
      .hovereffect .overlay h2 {
        color: white !important;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        opacity: 1 !important;
        font-size: 18pt; } 
}

.locationMainPage {
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  z-index: 500 !important; }
  .locationMainPage iframe {
    opacity: 0.90; }
