$text-grey: #616784;


* {
    z-index: 1000 !important;
}

body {
    overflow-x:hidden;
    font-family: 'regular';
}

//
//
//
//
//
//
// HEADER
// BEGINING
//
//
//
//
//


header {
    .yellowLine {
        position: absolute;
        margin-top: 50px;
        width: 1550px;
        transform: rotate(18deg);
        margin-left: -300px;

    }

    .header-img{
        position: relative;
        z-index: 2000 !important;
        margin-top: 30px;
      }

    }

    @media(max-width: 640px) {
        header{
            margin-top: 50px;
        }

        .yellowLine {
            margin-left: -100px !important;
            margin-top: 200px !important;
            width: 100% !important;
        }

        .header-img{
            width: 100%;
        }
    }


//
//
//
//
//
//
// HEADER
// ENDING
//
//
//
//
//

//
//
//
//
//
//
// ABOUT
// BEGINING
//
//
//
//
//

#about {
    color: $text-grey;

    .about-logo {
    margin-left: -20px;
        }

    .about-title {
        margin-top: 30px;
        font-weight: bold;
    }

    .about-paragraph {
        margin-top: 20px;
        font-family: 'ultraLight';
    }

    @media only screen and (max-width: 600px) {
        .about-logo {
            margin-top: 100px;
        }
    }
}


//
//
//
//
//
//
// ABOUT
// ENDING
//
//
//
//
//

//
//
//
//
//
//
// Extra info
// BEGINING
//
//
//
//
//


#extraInfo {

    color: $text-grey;

    .extraInfo-img {
        position: absolute;
        left: -100px;
    }

    .extraInfo-title {
        font-weight: bold;
        margin-top: 330px;
    }

    .extraInfo-p {
        font-family: 'ultraLight';
        margin-top: 40px;
    }

    @media only screen and (max-width: 600px) {
        .extraInfo-img {
            position: relative;
            width: 100%;
            left: -10%;
        }

        .extraInfo-title {
            margin-top: 20px;
        }
    }
}

//
//
//
//
//
//
// Extra info
// ENDING
//
//
//
//
//


//
//
//
//
//
//
// Slider
// BEGINING
//
//
//
//
//



#slider {
    margin-top: 300px;

    img {
        width: 100%;
    }



    .slider-container {
        width: 100%;
    }
   .slick-arrow {
       display: none !important;
   }



}



.slick-dots {
    text-align: center;

    li {
        display: inline;
    }

    button {
        background: $text-grey;
        width: 5px;
        height: 11px;
        border-radius: 50%;
        margin: 7px;
        opacity: 0.50;
    }
}

.slick-active {
    button {
        background: $text-grey;
        width: 5px;
        height: 11px;
        border-radius: 50%;
        margin: 7px;
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    #slider {
        margin-top: 40px;

    }
}

@media(max-width: 640px) {
    .slick-dots {
        margin-bottom: 100px;
    }
}

.slick-slide {
    outline:0;
}

.slick-dots li button {
    font-size: 0;
 }

//
//
//
//
//
//
// Slider
// ENDING
//
//
//
//
//



//
//
//
//
//
//
// Download
// BEGINING
//
//
//
//
//

#downloadSection {
    display: none;
    margin-top: 120px;
    color: $text-grey;

    h4 {
        font-weight: bold;
    }

    p {
        margin-top: 20px;
       padding: 0 23% 0 23%;
    }

    .download {
        text-align: center
    }

    .downloadButton {

        margin-top: 46px;
        text-align: left;
        width: 230px;
        height: 60px;
        padding-top: 5px;
        padding-left: 30px;
        padding-right: 30px;
        color: $text-grey;
        background-color: white;
        -webkit-box-shadow: 0px 6px 13px 3px #F7C8BF;
box-shadow: 0px 6px 13px 3px #F7C8BF;
        opacity: 0.70;
        margin-right: 30px;
        font-family: 'ultraLight';

        transition: opacity 0.50s;



        img {

            float: left;
            margin-right: 10px;
        }
        .googlePlayLogo {
            width: 34px;
            height: 37px;
            margin-top: 5px;
        }

        .appleLogo {
            width: 41px;
            height: 41px;

        }

        .smallDownloadText {

            font-size: 10pt;
        }
        .biggerDownloadText {
            display: block;
            font-size: 16pt;
            margin-top: -10px;

        }


    }

    .downloadButton:hover{
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {

    #downloadSection {
        margin-top: 10px;

        p{
            padding: 0px;
        }

        .downloadButton {
            margin-top: 25px;
        }
    }
}

//
//
//
//
//
//
// Download
// ENDING
//
//
//
//
//

footer {
    margin-top: 100px;

}
