$nav-border-color: #c2c9e1;
$button-color: #1f80f5;
$text-grey: #868992;
$clients-bf: #e5f9f8;


* {
    z-index: 1000 !important;
}


body {
    // background-image: url('../img/background.jpg');
    background: #f7f9fd;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

@media(max-width: 640px) {
    body {
        background-size: cover;
    }
}



button {
    width: 114px;
    height: 33px;
    border-radius: 25px;
    background-color: $button-color;
    border:none;
    outline: 0 !important;
    color: white;
    transition: width 0.2s,height 0.2s;
}

// 
// 
// 
// 
// 
// 
// CAUTION
// NAV 
// BEGINING
// 
// 
// 
// 
// 
// 
// 

.nav-item {
    width: 133px;
    height: 40px;
    border: solid $nav-border-color 1px;
    text-align: center;
    border-radius: 25px;
    transition: background-color 0.5s ease,color 0.5s;
    
    a {
        color: $text-grey;
    }
}

.nav-link {
    padding-bottom: 0;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }

  .nav-link::after {
    content: '';
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 1px;
    background: rgba(134, 137, 146, 0.50);
    transform: scaleX(0);
    transition: transform .35s ease;
  }


.nav-item:hover {    
     background-color: rgba(134, 137, 146, 0.001); 
     transition: background-color 0.5s ease-out;
     border:solid 1px rgba(134, 137, 146, 0.25);  

    a::after {
        transform: scaleX(0.80);
    }

}


.nav-item {
    margin-right: 11px;
}


 
.navbar-brand {
    margin-right: 414px;
}



.custom-navbar {
    padding-top: 23px;
}


// nav mobile icon
@media(max-width: 640px) {

    .navbar-toggler {
        outline: 0 !important;
    }

    .nav-item {
        margin-bottom: 5px ;
    }

  
    
    .menuIcon {
        margin-top: 6%;
      cursor: pointer;
      float: right;
      position: absolute;
      right: 15px;
      top: 20px;
      height: 23px;
      width: 27px;
      z-index: 12;
    }
  
    /* Icon Bars */
    .icon-bars {
      background: rgb(13, 26, 38);
      position: absolute;
      left: 1px;
      top: 45%;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    } 
  
    .icon-bars::before {
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    .icon-bars::after {
      margin-top: 0px;
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    /* Bars Shadows */
    .icon-bars.overlay {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 20px;
      animation: middleBar 3s infinite 0.5s;
      -webkit-animation: middleBar 3s infinite 0.5s;
    } @keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      } @-webkit-keyframes middleBar {
          0% {width: 0px}
          50% {width: 20px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::before {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 10px;
      animation: topBar 3s infinite 0.2s;
      -webkit-animation: topBar 3s infinite 0s;
    } @keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      } @-webkit-keyframes topBar {
          0% {width: 0px}
          50% {width: 10px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::after {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 15px;
      animation: bottomBar 3s infinite 1s;
      -webkit-animation: bottomBar 3s infinite 1s;
    } @keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      } @-webkit-keyframes bottomBar {
          0% {width: 0px}
          50% {width: 15px}
          100% {width: 0px}
        }
  
  
    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
      top: 5px;
      transform: translate3d(0, 5px, 0) rotate(135deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars::before {
      top: 0;
      transition-delay: 0.1s;
      opacity: 0;
    }
  
    .menuIcon.toggle .icon-bars::after {
      top: 10px;
      transform: translate3d(0, -10px, 0) rotate(-270deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars.overlay {
      width: 20px;
      opacity: 0;
      -webkit-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
    }
  }
// nav mobile icon

.navbar-dark .navbar-toggler {
    border: none;
    outline: 0;
}

// 
// 
// 
// 
// CAUTION
// NAV
// ENDING
// 
// 
// 
// 

// 
// 
// 
// 
// 
// 
// CAUTION
// HEADER 
// BEGINING
// 
// 
// 
// 
// 
// 
// 

header {

    color: #676c82;
    
    .h-title {
        margin-top: 330px;
    }

    @media(max-width: 640px) {
        .h-title {
            margin-top: 10px;
        }
    }

    .h-title-2 {
        margin-top: 9px;
    }

    .h-paragraph {
        margin-top: 7px;
        padding-right: 25%;
    }

    button {
        width: 114px;
        height: 33px;
        border-radius: 25px;
        background-color: $button-color;
        border:none;
        outline: 0 !important;
        color: white;
    }

    .computer-img {
        
        
        margin-top: 174px;
    }

    .computer-img{
        animation: animationFrames linear 4s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames linear 4s;
        -webkit-animation-iteration-count: infinite;
        -webkit-transform-origin: 50% 50%;
        -moz-animation: animationFrames linear 4s;
        -moz-animation-iteration-count: infinite;
        -moz-transform-origin: 50% 50%;
        -o-animation: animationFrames linear 4s;
        -o-animation-iteration-count: infinite;
        -o-transform-origin: 50% 50%;
        -ms-animation: animationFrames linear 4s;
        -ms-animation-iteration-count: infinite;
        -ms-transform-origin: 50% 50%;
      }
      
      @keyframes animationFrames{
        0% {
          transform:  translate(0px,0px)  ;
        }
        49% {
          transform:  translate(0px,-15px)  ;
        }
        100% {
          transform:  translate(0px,0px)  ;
        }
      }
      
      @-moz-keyframes animationFrames{
        0% {
          -moz-transform:  translate(0px,0px)  ;
        }
        49% {
          -moz-transform:  translate(0px,-15px)  ;
        }
        100% {
          -moz-transform:  translate(0px,0px)  ;
        }
      }
      
      @-webkit-keyframes animationFrames {
        0% {
          -webkit-transform:  translate(0px,0px)  ;
        }
        49% {
          -webkit-transform:  translate(0px,-15px)  ;
        }
        100% {
          -webkit-transform:  translate(0px,0px)  ;
        }
      }
      
      @-o-keyframes animationFrames {
        0% {
          -o-transform:  translate(0px,0px)  ;
        }
        49% {
          -o-transform:  translate(0px,-15px)  ;
        }
        100% {
          -o-transform:  translate(0px,0px)  ;
        }
      }
      
      @-ms-keyframes animationFrames {
        0% {
          -ms-transform:  translate(0px,0px)  ;
        }
        49% {
          -ms-transform:  translate(0px,-15px)  ;
        }
        100% {
          -ms-transform:  translate(0px,0px)  ;
        }
      }

    

}

.greenLine {
    position: absolute;
    width: 1050px;
    height: 986px;
}

.pinkLine {
    position: absolute;
    margin-left: -500px;
    margin-top: 480px;
    width: 1080px;
}

@media(max-width: 640px) {
    .computer-img {
        margin-top: 10px !important;
    }

    .greenLine {
     
        width: 100%;
        height: auto;
    }

    .pinkLine {
       
        margin-left: 0px;
        margin-top:0px;
        width: 100%;
        height: auto;
    }

}


// 
// 
// 
// 
// CAUTION
// HEADER
// ENDING
// 
// 
// 
// 

#contact {
    z-index: 2000 !important;
    color: $text-grey;
    margin-top: 300px;
    width: 79%;
    height: 777px;
    -webkit-box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.30);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 170px 100px 0 100px; 
    
}
    
@media(max-width: 640px) {
    #contact {
      margin-top: 60px;
      padding: 1px 1px 0 1px !important;
      width: 100%;
      height: auto;
      box-shadow: none;
      background-color: rgba(255,255,255,0.4);;
    }

}
  

.contact-title {
    font-family: 'ultraLight';
    font-weight: bold;
    color: $text-grey;
    font-size: 20pt;
}

.contact-info {
    font-family: 'ultraLight';
    margin-top: 25px;
    font-size: 14pt;
    
    i {
        margin-right: 10px;
        color: #9e9e9e;
        transition: color 0.50s;
    }

    span {
        color: $text-grey;
        transition: color 0.50s;
    }

    a {
        transition: color 0.50s;
    }
}

.contact-info:hover {
    span {
        color:rgba(0, 0, 0, 1);
    }

    span a {
        color:rgba(0, 0, 0, 1);
    }
    
    i {
        color: grey;
    }
}


.contact-info::after {
    display: block;
    content: '';
    background: #616784;
    height: 1px;
    margin-top: 10px;
    transition: background 0.50s;
}

.contact-info:hover::after {
    background: grey;
    }

.email a {
    color: $text-grey;
    text-decoration: none !important;
}

.email::after {
    width: 210px;
   
}

.phone::after {
    width: 190px;
}

.location::after {
    width: 170px;
}

.location-ex::after {
    width: 120px;
}



.form-input {
    height: 45px;
    border-radius: 10px;
    font-family: 'ultraLight';
    border:3px solid #d1dff3;
}

.text-area-input {
    height: 113px;
    resize: none;
    border-radius: 10px;
    font-family: 'ultraLight';
    border:3px solid #d1dff3
}

@media(max-width: 640px) {
    form {
        margin-top: 50px;
    }
}
.submit-button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 182px;
    height: 37px;
    border-radius: 20px;

    background: linear-gradient(270deg, #333b5c, #8d90b7);
background-size: 400% 400%;

-webkit-animation: AnimationName 19s ease infinite;
-moz-animation: AnimationName 19s ease infinite;
animation: AnimationName 19s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
}





  .location {

//     .overlay {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         background: -moz-linear-gradient(top, rgba(247,249,253,1) 0%, rgba(255,255,255,0) 45%, rgba(247,249,253,1) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top, rgba(247,249,253,1) 0%,rgba(255,255,255,0) 45%,rgba(247,249,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom, rgba(247,249,253,1) 0%,rgba(255,255,255,0) 45%,rgba(247,249,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
//     }
      margin: 40px 0 40px 0;
  }



  // 
// 
// 
// 
// 
// 
// CAUTION
// FOOTER
// BEGINING
// 
// 
// 
// 
// 
// 
// 

#social {
	padding: 10px 0;
	box-sizing: border-box;
	border-radius: 3px;
	cursor: default;
	text-align: center;
	a {
		display: inline-flex;
		width: 42px;
		height: 42px;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		transition: 0.2s ease;
	}
}

// LIGHT THEME
.socialLight {
    
    margin-top: -6px;
    padding-top: 30px;
	background: #f8e9be;
	#social {
		&:hover a {
			color: #aaa;
		}
		a {
			color: #444;
			&:hover {
				color: #444;
			}
		}
	}
}

// 
// 
// 
// 
// 
// 
// 
// CAUTION 
// FOOTER
// END
// 
// 
// 
// 
// 
// 