$nav-border-color: #c2c9e1;
$button-color: #1f80f5;
$text-grey: #868992;
$clients-bf: #e5f9f8;
$text-darkpurple: #616784;


* {
    z-index: 1000 !important;
}


body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

@media(max-width: 640px) {
    body {
        background-size: auto;
    }
}



button {
    width: 114px;
    height: 33px;
    border-radius: 25px;
    background-color: $button-color;
    border:none;
    outline: 0 !important;
    color: white;
    transition: width 0.2s,height 0.2s;
    font-size: 16pt;
    font-family: 'ultraLight';
}

button:hover {
    width: 120px;
    height: 35px;
}

//
//
//
//
//
//
// CAUTION
// NAV
// BEGINING
//
//
//
//
//
//
//

nav {
  z-index: 4000 !important;
}

.nav-item {

    width: 133px;
    height: 40px;
    border: solid $nav-border-color 1px;
    text-align: center;
    border-radius: 25px;
    transition: background-color 0.5s ease,color 0.5s;

    a {
        color: $text-grey;
    }
}

.nav-link {

    padding-bottom: 0;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }

  .nav-link::after {
    content: '';
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 1px;
    background: rgba(134, 137, 146, 0.50);
    transform: scaleX(0);
    transition: transform .35s ease;
  }


.nav-item:hover {
     background-color: rgba(134, 137, 146, 0.001);
     transition: background-color 0.5s ease-out;
     border:solid 1px rgba(134, 137, 146, 0.25);

    a::after {
        transform: scaleX(0.80);
    }

}


.nav-item {
    margin-right: 11px;
}



.navbar-brand {
    margin-right: 414px;
}



.custom-navbar {
    padding-top: 23px;
}


// nav mobile icon
@media(max-width: 640px) {

    .navbar-toggler {
        outline: 0 !important;
    }

    .nav-item {
        margin-bottom: 5px ;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }



    .menuIcon {
        margin-top: 6%;
      cursor: pointer;
      float: right;
      position: absolute;
      right: 15px;
      top: 20px;
      height: 23px;
      width: 27px;
      z-index: 12;
    }

    /* Icon Bars */
    .icon-bars {
      background: rgb(13, 26, 38);
      position: absolute;
      left: 1px;
      top: 45%;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .icon-bars::before {
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }

    .icon-bars::after {
      margin-top: 0px;
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }

    /* Bars Shadows */
    .icon-bars.overlay {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 20px;
      animation: middleBar 3s infinite 0.5s;
      -webkit-animation: middleBar 3s infinite 0.5s;
    } @keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      } @-webkit-keyframes middleBar {
          0% {width: 0px}
          50% {width: 20px}
          100% {width: 0px}
        }

    .icon-bars.overlay::before {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 10px;
      animation: topBar 3s infinite 0.2s;
      -webkit-animation: topBar 3s infinite 0s;
    } @keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      } @-webkit-keyframes topBar {
          0% {width: 0px}
          50% {width: 10px}
          100% {width: 0px}
        }

    .icon-bars.overlay::after {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 15px;
      animation: bottomBar 3s infinite 1s;
      -webkit-animation: bottomBar 3s infinite 1s;
    } @keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      } @-webkit-keyframes bottomBar {
          0% {width: 0px}
          50% {width: 15px}
          100% {width: 0px}
        }


    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
      top: 5px;
      transform: translate3d(0, 5px, 0) rotate(135deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars::before {
      top: 0;
      transition-delay: 0.1s;
      opacity: 0;
    }

    .menuIcon.toggle .icon-bars::after {
      top: 10px;
      transform: translate3d(0, -10px, 0) rotate(-270deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars.overlay {
      width: 20px;
      opacity: 0;
      -webkit-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
    }
  }
// nav mobile icon

.navbar-dark .navbar-toggler {
    border: none;
    outline: 0;
}

//
//
//
//
// CAUTION
// NAV
// ENDING
//
//
//
//

//
//
//
//
//
//
// CAUTION
// HEADER
// BEGINING
//
//
//
//
//
//
//

header {

    color: #676c82;

    .h-title {
        margin-top: 330px;
    }

    @media(max-width: 640px) {
        .h-title {
            margin-top: 10px;
        }
    }

    .h-title-2 {
        margin-top: 9px;
    }

    .h-paragraph {
        margin-top: 7px;
        padding-right: 25%;
    }

    button {
        width: 114px;
        height: 33px;
        border-radius: 25px;
        background-color: $button-color;
        border:none;
        outline: 0 !important;
        color: white;
    }

    .computer-img {
        margin-top: 174px;
    }



    .computer-img{
        animation: animationFrames linear 4s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames linear 4s;
        -webkit-animation-iteration-count: infinite;
        -webkit-transform-origin: 50% 50%;
        -moz-animation: animationFrames linear 4s;
        -moz-animation-iteration-count: infinite;
        -moz-transform-origin: 50% 50%;
        -o-animation: animationFrames linear 4s;
        -o-animation-iteration-count: infinite;
        -o-transform-origin: 50% 50%;
        -ms-animation: animationFrames linear 4s;
        -ms-animation-iteration-count: infinite;
        -ms-transform-origin: 50% 50%;
      }

      @keyframes animationFrames{
        0% {
          transform:  translate(0px,0px)  ;
        }
        49% {
          transform:  translate(0px,-15px)  ;
        }
        100% {
          transform:  translate(0px,0px)  ;
        }
      }

      @-moz-keyframes animationFrames{
        0% {
          -moz-transform:  translate(0px,0px)  ;
        }
        49% {
          -moz-transform:  translate(0px,-15px)  ;
        }
        100% {
          -moz-transform:  translate(0px,0px)  ;
        }
      }

      @-webkit-keyframes animationFrames {
        0% {
          -webkit-transform:  translate(0px,0px)  ;
        }
        49% {
          -webkit-transform:  translate(0px,-15px)  ;
        }
        100% {
          -webkit-transform:  translate(0px,0px)  ;
        }
      }

      @-o-keyframes animationFrames {
        0% {
          -o-transform:  translate(0px,0px)  ;
        }
        49% {
          -o-transform:  translate(0px,-15px)  ;
        }
        100% {
          -o-transform:  translate(0px,0px)  ;
        }
      }

      @-ms-keyframes animationFrames {
        0% {
          -ms-transform:  translate(0px,0px)  ;
        }
        49% {
          -ms-transform:  translate(0px,-15px)  ;
        }
        100% {
          -ms-transform:  translate(0px,0px)  ;
        }
      }



}

.greenLine {
    position: absolute;
    width: 1050px;
    height: 986px;
}

.pinkLine {
    position: absolute;
    margin-left: -500px;
    margin-top: 480px;
    width: 1080px;
}

@media(max-width: 640px) {

    .custom-order {
          order: 2;
    }
    .computer-img {
        margin-top: 10px !important;
        margin-bottom: 40px;
    }

    .greenLine {

        width: 100%;
        height: auto;
    }

    .pinkLine {

        margin-left: 0px;
        margin-top:0px;
        width: 100%;
        height: auto;
    }

    .h-paragraph {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

}


//
//
//
//
// CAUTION
// HEADER
// ENDING
//
//
//
//

//
//
//
//
//
//
// CAUTION
// SECTION2
// BEGINING
//
//
//
//
//
//
//

#section2 {

    .section2-box {
        margin-top: 180px;
        width: 79%;
        height: 777px;
        -webkit-box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.54);
        -moz-box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.54);
        box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.54);
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
        transition: transform 0.40s ease-in;
        background-color: white;
    }

    // .section2-box:hover {
    //     transform: scale(1.1);
    // }

    .section2-img {
        margin-top: 151px;
    }

    .section2-title {
        margin-top: 222px;
        color: #5d767d;
    }

    .section2-title2 {
        margin-top: 5px;
        color: #636a84;
    }

    .section2-p {
        margin-top: 20px;
        color: #64617c;
    }

}

@media(max-width: 640px) {


    .section2-box {
        margin-top: 35px !important;

        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20) !important;
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20) !important;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20) !important;
        height: 100% !important;
    }

    .section2-img {
        margin-top: 0px !important;
    }

    .section2-title {
        margin-top: 20px !important;
    }

    .section2-p {
        margin-top: 20px !important;
    }

    .section2-box {
        height: 100%;
        width: 97% !important;

    }

}



//
//
//
//
// CAUTION
// SECTION2
// ENDING
//
//
//
//


//
//
//
//
//
//
// CAUTION
// DIVIDER
// BEGINING
//
//
//
//
//
//
//

.divider {
    margin-top: 133px;
    width: 100%;
    height: 90px;
    // background-color: #f8e9be;
    padding-top: 27px;
    color: #596185;

    h2 {
        font-family: 'ultraLight';
        font-weight: bold;
        font-size: 30pt;
    }
}

//
//
//
//
// CAUTION
// DIVIDER
// ENDING
//
//
//
//

//
//
//
//
//
//
// CAUTION
// WHAT WE DO
// BEGINING
//
//
//
//
//
//
//

#what-we-do {

    padding: 9.9% 9.9% 0 9.9%;
}



.service {
    background-color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    width: 100%;
    border-radius: 25px;
    -webkit-box-shadow: -2px 2px 14px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -2px 2px 14px 0px rgba(0,0,0,0.3);
    box-shadow: -2px 2px 14px 0px rgba(0,0,0,0.3);
    text-align: center;
    padding-top: 38px;


    button {
        width: 160px;
        height: 40px;
    }

    img {


        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 20px;
    }

    h4 {
        color: $text-darkpurple;
        margin-bottom: 20px;
    }

    .game-icon{
       margin-bottom: 30px;
    }

    .mobile-icon{
        margin-bottom: 15px;
    }

    .web-icon{
        margin-bottom: 23px;
    }

    .threedicon{
        margin-bottom: 25px;
    }

    span {
        display: block;
        font-family: 'ultraLight';
        font-size: 11pt;
    }




}


@media(max-width: 640px) {
    .service {
        margin-top: 20px;

        .game-icon{
            width: 70%;
         }
     
         .mobile-icon{
            width: 60%;
         }
     
         .web-icon{
            width: 45%;
         }
     
         .threedicon{
            width: 50%;
         }
    }
}


//
//
//
//
// CAUTION
// WHAT WE DO
// ENDING
//
//
//
//


//
//
//
//
//
//
// CAUTION
// products
// BEGINING
//
//
//
//
//
//
//



//
//
//
//
// CAUTION
// products
// ENDING
//
//
//
//


//
//
//
//
//
//
// CAUTION
// FOOTER
// BEGINING
//
//
//
//
//
//
//



#social {

	padding: 10px 0;
	box-sizing: border-box;
	border-radius: 3px;
	cursor: default;
	text-align: center;
	a {
		display: inline-flex;
		width: 42px;
		height: 42px;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		transition: 0.2s ease;
	}
}

// LIGHT THEME
.socialLight {

    margin-top: -6px;
    padding-top: 30px;
	background: #f8e9be;
	#social {
		&:hover a {
			color: #aaa;
		}
		a {
			color: #444;
			&:hover {
				color: #444;
			}
		}
	}
}

//
//
//
//
//
//
//
// CAUTION
// FOOTER
// END
//
//
//
//
//
//




// 𐱅𐰇𐰼𐰜 Ϲ⋆



//
//
// HOVER EFFECT
//
//
//


.gellery {

    margin-bottom: 100px;

    img {

      margin-right: 20px;
        width: 340px;
        height: auto;
        margin-top: 10px;
        -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.10);
        -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.10);
        box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.10);
        border: solid white 2px;
        transition: transform 1s;
    }

    img::before {
      background: cyan;
      width: 357px;
    }

}



.hovereffect {
    // display: block;
    // margin-right: auto;
    // margin-left: auto;
    // margin-right: 10px;
    margin-left: 10px;
    width: 340px;
    height: auto;
    position: relative;
    transform: translate3d(0,0px,0);
    transition: transform 0.4s,box-shadow 0.50s;

    img {
        transition: opacity 0.50s;

    }

    .overlay {
        background: rgba(0, 0, 0, 0.60);
        width: 340px;
        height: 60px;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 170px;
        z-index: 500;
        opacity: 0;
        visibility: hidden;
        transition: transform 0.4s,opacity 0.50s;
        transform: translate3d(0,65px,0);
    }

    h2 {
        text-align: center;
        vertical-align: middle;
        margin-top: 20px;
        color: white;
        font-family: 'ultraLight';
        font-weight: bold;
        font-size: 14pt;
        padding: 0 40px 0 40px;

        transition: opacity 0.50s;
    }
}

.hovereffect:hover{
    cursor: pointer;
    transform: translate3d(0,5px,0);
    box-shadow: 0px 7px 14px -1px rgba(0,0,0,0.20);
}

.hovereffect:hover .overlay {
    transform: translate3d(0,3px,0);
    visibility: visible;
    opacity: 1;
}



.hovereffect:hover img {
    opacity: 1;
    position: relative;
}

.hovereffect:hover h2 {
    z-index: 2500 !important;
}


@media(max-width: 640px) {
    .hovereffect {

      margin-right: auto;

        .overlay {
            opacity: 0.80;
            height: 50px;
            top: 190px;
            padding-top: 5px;
            background: rgba(0, 0, 0, 0.60);
            transform: translate3d(0,-8px,0);
            visibility: visible;

            h2 {
                color: white !important;
                margin: 0 0 0 0 ;
                padding: 0 0 0 0;
                opacity: 1 !important;
                font-size: 18pt;
            }
        }


    }


}






// .hovereffect {

//     img {
//       width: 350px;
//       height: auto;
//     }

//     float: left;
//     overflow: hidden;
//     position: relative;
//     text-align: center;
//     cursor: pointer;

//   }


//   .hovereffect .overlay {
//     width: 350px !important;
//     position: absolute;
//     overflow: hidden;
//     left: 0;
//   top: auto;
//   bottom: 0;

//   height: 10em;

//   background: #79FAC4;
//   color: #3c4a50;
//   -webkit-transition: -webkit-transform 0.35s;
//   transition: transform 0.35s;
//   -webkit-transform: translate3d(0,100%,0);
//   transform: translate3d(0,100%,0);
//   visibility: hidden;

//   }

//   .hovereffect img {
//     display: block;
//     position: relative;
//   -webkit-transition: -webkit-transform 0.35s;
//   transition: transform 0.35s;
//   }

// //   .hovereffect:hover img {
// //   -webkit-transform: translate3d(0,-10%,0);
// //   transform: translate3d(0,-10%,0);
// //   }

//   .hovereffect h2 {

//     text-transform: uppercase;
//     color: #fff;
//     text-align: center;
//     position: relative;
//     font-size: 17px;
//     padding: 10px;
//     background: rgba(0, 0, 0, 0.6);
//     width: 100%;
//     height: 100%;
//   margin: 0px;
//   display: inline-block;
//   }


//   .hovereffect h2 {
//   -webkit-transition: -webkit-transform 0.35s;
//   transition: transform 0.50s;
// //   -webkit-transform: translate3d(0,200%,0);
//   transform: translate3d(0,0%,0);
//   visibility: visible;
//   }


//   .hovereffect:hover .overlay,
//   .hovereffect:hover h2,
//   .hovereffect:hover p.icon-links a {
//     transform: translate3d(0,0%,0);
//    background: rgba(0, 0, 0, 0.4);

//    width: 100%;
//    height: 100%;
//   }


//   .hovereffect:hover h2 {
//     padding-top: 130px;
//   }

//   .hovereffect:hover h2 {
//   -webkit-transition-delay: 0.05s;
//   transition-delay: 0.05s;
//   }


//
//
//
//
//
//
//
//


//
//
//
// Location
//
//
//
//
//

.locationMainPage {

    iframe {
       opacity: 0.90;
    }

    margin-top: 80px;
    margin-bottom: 80px;

    // .overlay {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     background: -moz-linear-gradient(top, rgba(247,249,253,1) 0%, rgba(255,255,255,0) 45%, rgba(247,249,253,1) 100%); /* FF3.6-15 */
    //     background: -webkit-linear-gradient(top, rgba(247,249,253,1) 0%,rgba(255,255,255,0) 45%,rgba(247,249,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
    //     background: linear-gradient(to bottom, rgba(247,249,253,1) 0%,rgba(255,255,255,0) 45%,rgba(247,249,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    // }
      position: relative;
      z-index: 500 !important;
  }
//
//
//
//
//
//
//
